@keyframes rotateAnimProj {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

.Header.project {
    background: rgb(191, 58, 34);
    width: 75vw;
    padding: 1vh 3vw 1vh 3vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: -5px 5px rgb(79, 9, 58);
    border-radius: 5vw 5vw 0vw 0vw;
    border-color: rgb(79, 9, 58);
    border-style: solid;
    border-width: 5px 5px 0px 5px;

    text-align: left;
    color: white;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

.Project {
    background-color: white;
    width: 75vw;
    padding: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 0vw 0vw 5vw 5vw;
    border-color: rgb(79, 9, 58);
    border-style: solid;
    border-width: 5px;
    box-shadow: -5px 5px rgb(79, 9, 58);
}

.preview {
    width: 30vw;

    animation: rotateAnimProj 5s ease-in-out infinite;
    transition: opacity 0.5s ease-in-out;
}

.preview:hover {
    opacity: 0.5;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vh;
}

.desc {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: -10px;
}

.bullets {
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
}

/* MOBILE DEVICES */
@media (max-width: 768px) {
    .desc,
    .bullets {
        font-size: 0.75rem;
    }

    .preview {
        width: 50vw;
    }

    .Project {
        flex-direction: column;
    }

    .Header {
        font-size: 0.75rem;
    }
}
