.Header.about {
    background: rgb(191, 146, 34);
    width: 75vw;
    padding: 1vh 3vw 1vh 3vw;

    box-shadow: -5px 5px rgb(79, 9, 58);
    border-radius: 5vw 5vw 0vw 0vw;
    border-color: rgb(79, 9, 58);
    border-style: solid;
    border-width: 5px 5px 0px 5px;

    text-align: left;
    color: white;
    font-weight: 700;
}

.About {
    background-color: white;
    width: 75vw;
    padding: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vh;

    border-radius: 0vw 0vw 5vw 5vw;
    border-color: rgb(79, 9, 58);
    border-style: solid;
    border-width: 5px;
    box-shadow: -5px 5px rgb(79, 9, 58);
}

.quote {
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
}

.summary {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1vh;
}

.tech-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.tech {
    height: 5vh;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
}

.tech:hover {
    opacity: 0.5;
    height: 7vh;
}

/* MOBILE DEVICES */
@media (max-width: 768px) {
    .quote,
    .summary {
        font-size: 0.75rem;
    }

    .tech {
        height: 3vh;
    }
    .tech:hover {
        height: 4vh;
    }

    .About {
        gap: 2vh;
    }
}
