.Header.experience {
    background: rgb(0, 0, 0);
    width: 75vw;
    padding: 1vh 3vw 1vh 3vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: -5px 5px rgb(0, 0, 0);
    border-radius: 5vw 5vw 0vw 0vw;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px 5px 0px 5px;

    text-align: left;
    color: white;
    font-weight: 700;
}

.Experience {
    background-color: white;
    width: 75vw;
    padding: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    border-radius: 0vw 0vw 5vw 5vw;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    box-shadow: -5px 5px rgb(0, 0, 0);
}

.experiencePic {
    height: 10vh;
    border-radius: 100%;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0);

    animation: rotateAnimProj 5s ease-in-out infinite;
    transition: opacity 0.5s ease-in-out;
}

.experiencePic:hover {
    opacity: 0.5;
}

.experienceTitle {
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
}

.experienceCompany {
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: -10px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    width: 100%;
}

#experienceUL {
    padding: 0px;
}

.experienceBullets {
    text-align: left;
    font-weight: 500;
    font-size: 0.75rem;
}

/* MOBILE DEVICES */
@media (max-width: 768px) {
    .experienceTitle,
    .experienceCompany,
    .experienceBullets {
        font-size: 0.5rem;
    }

    .experienceCompany {
        margin-bottom: -5px;
    }
}
